#wr_login, #wr_registor {
  padding: 60px 0 66px 0; }
  #wr_login .wr_login_left, #wr_login .wr_registor_left, #wr_registor .wr_login_left, #wr_registor .wr_registor_left {
    float: left;
    margin-left: 180px; }
    #wr_login .wr_login_left img, #wr_login .wr_registor_left img, #wr_registor .wr_login_left img, #wr_registor .wr_registor_left img {
      height: 408px;
      width: 450px; }
  #wr_login .wr_login_right, #wr_login .wr_registor_right, #wr_registor .wr_login_right, #wr_registor .wr_registor_right {
    float: right;
    margin-right: 170px;
    border: 1px solid #D5DCE5;
    background: #FEFEFE;
    height: 400px;
    width: 377px;
    border-radius: 3px; }
    #wr_login .wr_login_right h3, #wr_login .wr_registor_right h3, #wr_registor .wr_login_right h3, #wr_registor .wr_registor_right h3 {
      font-weight: 300;
      font-size: 18px;
      color: #4D5E73;
      margin-top: 30px;
      margin-left: 35px; }
    #wr_login .wr_login_right form, #wr_login .wr_registor_right form, #wr_registor .wr_login_right form, #wr_registor .wr_registor_right form {
      margin-top: 20px; }
      #wr_login .wr_login_right form input, #wr_login .wr_registor_right form input, #wr_registor .wr_login_right form input, #wr_registor .wr_registor_right form input {
        margin-left: 35px;
        background: #fff;
        display: block;
        width: 277px;
        padding: 12px 0;
        border: 1px solid #d5dce5;
        margin-bottom: 20px;
        font-weight: normal;
        text-indent: 23px;
        outline: 0;
        font-size: 16px;
        line-height: 20px;
        border-radius: 3px; }
      #wr_login .wr_login_right form input:nth-of-type(3), #wr_login .wr_registor_right form input:nth-of-type(3), #wr_registor .wr_login_right form input:nth-of-type(3), #wr_registor .wr_registor_right form input:nth-of-type(3) {
        display: inline-block;
        width: 13px;
        height: 13px;
        margin-top: 10px; }
      #wr_login .wr_login_right form span, #wr_login .wr_registor_right form span, #wr_registor .wr_login_right form span, #wr_registor .wr_registor_right form span {
        font-size: 14px; }
      #wr_login .wr_login_right form a, #wr_login .wr_registor_right form a, #wr_registor .wr_login_right form a, #wr_registor .wr_registor_right form a {
        text-decoration: none;
        color: #635E84;
        float: right;
        margin-right: 62px;
        font-size: 14px;
        margin-top: 10px; }
      #wr_login .wr_login_right form input:nth-of-type(4), #wr_login .wr_registor_right form input:nth-of-type(4), #wr_registor .wr_login_right form input:nth-of-type(4), #wr_registor .wr_registor_right form input:nth-of-type(4) {
        background: #C90A16;
        color: #fff;
        text-align: center;
        margin-top: 20px; }

#wr_registor .wr_registor_right form input:nth-of-type(3) {
  background: #C90A16;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  width: 277px;
  height: 44px;
  padding: 12px 0;
  border-radius: 3px; }

.err {
  display: inline-block;
  background: #fff0f0;
  border: 1px solid #ffd2d2;
  height: 26px;
  font-size: 12px;
  display: none;
  line-height: 26px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #b74d46;
  width: 277px;
  margin-left: 35px; }

/*# sourceMappingURL=login.css.map */
